<div class="flex flex-col gap-6 max-w-md mx-auto w-full px-12 sm:p-4">
  <h2 class="text-emerald-100 font-semibold text-4xl text-center">Dobrodošao/la!</h2>

  <div class="flex flex-col text-center p-4 border border-emerald-100/20 rounded-xl gap-1">
    <h3 class="font-semibold text-emerald-100 text-base">Aktivacija naloga</h3>

    <p class="text-sm text-emerald-100/70 leading-relaxed">
      Da bi aktivirao/la nalog, upiši lozinku i potvrdi je ispod. Nakon toga ćeš moći da se
      prijaviš na platformu.
    </p>
  </div>

  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-1">
      <div
        class="flex border-b-2 border-emerald-100 w-full bg-transparent p-1 px-2 transition-colors duration-200"
        [class.border-red-400]="
          activationForm.password().touched() && activationForm.password().errors().length
        "
      >
        <label
          for="password"
          class="flex w-full border-none outline-none bg-transparent gap-4 text-xl"
        >
          <ng-icon class="self-center shrink-0 text-emerald-100!" name="faSolidLock"></ng-icon>

          <input
            [formField]="activationForm.password"
            type="password"
            id="password"
            autocomplete="new-password"
            class="w-full border-none outline-none bg-transparent text-emerald-100/70 placeholder:text-emerald-100/50"
            placeholder="Lozinka"
          />
        </label>
      </div>

      @if (activationForm.password().touched() && activationForm.password().errors().length) {
      <p class="text-sm text-red-400 leading-relaxed px-2 text-center">
        {{ activationForm.password().errors()[0]?.message }}
      </p>
      }
    </div>

    <div class="flex flex-col gap-1">
      <div
        class="flex border-b-2 border-emerald-100 w-full bg-transparent p-1 px-2 transition-colors duration-200"
        [class.border-red-400]="
          activationForm.confirmedPassword().touched() &&
          activationForm.confirmedPassword().errors().length
        "
      >
        <label
          for="confirmPassword"
          class="flex w-full border-none outline-none bg-transparent gap-4 text-xl"
        >
          <ng-icon class="self-center shrink-0 text-emerald-100!" name="faSolidKey"></ng-icon>

          <input
            [formField]="activationForm.confirmedPassword"
            type="password"
            id="confirmPassword"
            autocomplete="new-password"
            class="w-full border-none outline-none bg-transparent text-emerald-100/70 placeholder:text-emerald-100/50"
            placeholder="Potvrdi lozinku"
          />
        </label>
      </div>

      @if (activationForm.confirmedPassword().touched() &&
      activationForm.confirmedPassword().errors().length) {
      <p class="text-sm text-red-400 leading-relaxed px-2 text-center">
        {{ activationForm.confirmedPassword().errors()[0]?.message }}
      </p>
      }
    </div>

    <a
      routerLink="/login"
      class="font-semibold text-amber-500 cursor-pointer hover:opacity-70 transition duration-200 text-sm self-start"
    >
      Nazad na prijavu
    </a>
  </div>

  <app-button
    (click)="onSubmit()"
    class="mx-auto w-full"
    [disabled]="activateAccountMutation.isPending()"
    size="lg"
    [fullWidth]="true"
    icon="faSolidUserCheck"
  >
    Aktiviraj nalog
  </app-button>
</div>
