input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--color-emerald-700) inset;
  -webkit-text-fill-color: var(--color-white);
  caret-color: var(--color-white);
}

@keyframes backdrop-in {
  from {
    opacity: 0;
  }
}
.backdrop-in {
  animation: backdrop-in 200ms ease-out;
}

@keyframes modal-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
}
.modal-in {
  animation: modal-in 200ms ease-out;
}
