<div
  class="bg-sky-950 rounded-lg shadow-xl transition-shadow duration-200 hover:shadow-2xl w-full grow flex flex-col min-w-75 min-h-119 h-full"
>
  <div class="p-4">
    <h2 class="text-xl font-semibold text-white">Grafikon održanih časova</h2>
  </div>
  <apx-chart
    class="w-full h-full grow"
    [chart]="chartOptions().chart!"
    [series]="chartOptions().series!"
    [labels]="chartOptions().labels!"
    [colors]="chartOptions().colors!"
    [legend]="chartOptions().legend!"
    [dataLabels]="chartOptions().dataLabels!"
    [tooltip]="chartOptions().tooltip!"
    [states]="chartOptions().states!"
    [stroke]="chartOptions().stroke!"
    [responsive]="chartOptions().responsive!"
  ></apx-chart>
</div>
