@keyframes backdrop-in {
  from {
    opacity: 0;
  }
}
.backdrop-in {
  animation: backdrop-in 200ms ease-out;
}

@keyframes dialog-in {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
}
.dialog-in {
  animation: dialog-in 200ms ease-out;
}
