<div class="flex flex-col gap-6 max-w-md mx-auto w-full p-4">
  <h2 class="text-emerald-100 font-semibold text-4xl text-center">Prijava</h2>

  <div class="flex flex-col gap-6">
    <div
      class="flex border-b-2 border-b-emerald-100 w-full bg-transparent p-1 px-2 transition-colors duration-200"
    >
      <label for="email" class="flex w-full border-none outline-none bg-transparent gap-4 text-xl">
        <ng-icon class="self-center shrink-0 text-emerald-100!" name="faSolidEnvelope"></ng-icon>
        <input
          formControlName="email"
          type="text"
          id="email"
          name="email"
          class="w-full border-none outline-none bg-transparent text-emerald-100/70 placeholder:text-emerald-100/50"
          placeholder="Email adresa"
        />
      </label>
    </div>

    <div
      class="flex border-b-2 border-b-emerald-100 w-full bg-transparent p-1 px-2 transition-colors duration-200"
    >
      <label
        for="password"
        class="flex w-full border-none outline-none bg-transparent gap-4 text-xl"
      >
        <ng-icon class="self-center shrink-0 text-emerald-100!" name="faSolidLock"></ng-icon>
        <input
          formControlName="password"
          type="password"
          id="password"
          name="password"
          class="w-full border-none outline-none bg-transparent text-emerald-100/70 placeholder:text-emerald-100/50"
          placeholder="Lozinka"
        />
      </label>
    </div>

    <a
      class="font-semibold text-amber-500 cursor-pointer hover:opacity-70 transition duration-200 text-sm self-start"
      >Zaboravili ste lozinku?</a
    >
  </div>

  <button
    class="bg-emerald-700 hover:bg-emerald-600 text-white font-semibold py-3 rounded-md text-lg transition-colors cursor-pointer"
  >
    Prijavi se
  </button>

  <div class="flex flex-col text-center p-4 border border-emerald-100/20 rounded-xl gap-1 mt-2">
    <h3 class="font-semibold text-emerald-100 text-base">Pristup studentima</h3>
    <p class="text-sm text-emerald-100/70 leading-relaxed">
      U toku je razvoj kontrolne table prilagođene studentima. Za sada, pristup je omogućen samo
      administratorima.
    </p>
  </div>
</div>
