@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  scrollbar-width: thin;
  scrollbar-color: #10b981 #022c22;
}

body {
  font-family: 'Outfit', sans-serif;
}

@layer utilities {
  .transition-200 {
    @apply transition-all duration-200;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #022c22;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #10b981;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #059669;
}
