@keyframes message-enter {
  0% {
    border-color: rgb(209 250 229 / 0.2);
    box-shadow: 0 0 0 0 rgb(52 211 153 / 0);
  }
  30% {
    border-color: rgb(209 250 229 / 1);
    box-shadow: 0 0 24px 0 rgb(52 211 153 / 0.15);
  }
  70% {
    border-color: rgb(209 250 229 / 1);
    box-shadow: 0 0 24px 0 rgb(52 211 153 / 0.15);
  }
  100% {
    border-color: rgb(209 250 229 / 0.2);
    box-shadow: 0 0 0 0 rgb(52 211 153 / 0);
  }
}

@keyframes message-title-enter {
  0% {
    color: rgb(209 250 229 / 0.7);
  }
  30% {
    color: rgb(255 255 255 / 1);
  }
  70% {
    color: rgb(255 255 255 / 1);
  }
  100% {
    color: rgb(209 250 229 / 1);
  }
}

@keyframes message-text-enter {
  0% {
    color: rgb(209 250 229 / 0.7);
  }
  30% {
    color: rgb(209 250 229 / 1);
  }
  70% {
    color: rgb(209 250 229 / 1);
  }
  100% {
    color: rgb(209 250 229 / 0.7);
  }
}

.message-enter {
  animation: message-enter 1600ms ease-in-out;
}

.message-enter h3 {
  animation: message-title-enter 1600ms ease-in-out backwards;
}

.message-enter p {
  animation: message-text-enter 1600ms ease-in-out 120ms backwards;
}
