<div class="flex flex-col gap-6 max-w-md mx-auto w-full px-12 sm:p-4">
  <h2 class="text-emerald-100 font-semibold text-4xl text-center">Zaboravljena lozinka</h2>

  <div
    [class]="isOnCooldown() ? 'message-enter' : null"
    class="flex flex-col text-center p-4 border border-emerald-100/20 rounded-xl gap-1"
  >
    @if(isOnCooldown()) {
    <h3 class="font-semibold text-emerald-100 text-base">{{messageWrapper().title}}</h3>

    <p class="text-sm text-emerald-100/70 leading-relaxed">{{messageWrapper().text}}</p>
    } @else {
    <h3 class="font-semibold text-emerald-100 text-base">Zaboravio/la si lozinku?</h3>

    <p class="text-sm text-emerald-100/70 leading-relaxed">
      Ne brini, upiši nam svoju email adresu i poslaćemo ti uputstva za resetovanje lozinke.
    </p>
    }
  </div>

  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-1">
      <div
        class="flex border-b-2 border-emerald-100 w-full bg-transparent p-1 px-2 transition-colors duration-200"
        [class.border-red-400]="
          forgotPasswordForm.email().touched() && forgotPasswordForm.email().errors().length
        "
      >
        <label
          for="email"
          class="flex w-full border-none outline-none bg-transparent gap-4 text-xl"
        >
          <ng-icon class="self-center shrink-0 text-emerald-100!" name="faSolidEnvelope"></ng-icon>

          <input
            [formField]="forgotPasswordForm.email"
            type="text"
            id="email"
            class="w-full border-none outline-none bg-transparent text-emerald-100/70 placeholder:text-emerald-100/50"
            placeholder="Email adresa"
          />
        </label>
      </div>

      @if (forgotPasswordForm.email().touched() && forgotPasswordForm.email().errors().length) {
      <p class="text-sm text-red-400 leading-relaxed px-2 text-center">
        {{ forgotPasswordForm.email().errors()[0]?.message }}
      </p>
      }
    </div>

    <a
      routerLink="/login"
      class="font-semibold text-amber-500 cursor-pointer hover:opacity-70 transition duration-200 text-sm self-start"
    >
      Nazad na prijavu
    </a>
  </div>

  <app-button
    (click)="onSubmit()"
    class="mx-auto w-full"
    [disabled]="isOnCooldown()"
    size="lg"
    [fullWidth]="true"
    icon="faSolidPaperPlane"
  >
    Pošalji uputstva
  </app-button>
  @if (isOnCooldown()) {
  <p class="text-emerald-100/80 leading-relaxed px-2 text-center">
    Pokušaj ponovo za {{ cooldownDuration() }} sekundi.
  </p>
  }
</div>
